<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--== Start Header Area ==-->
<header th:ftagment="header" class="header-area">
    <div class="container container-wide">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-2">
                <div class="site-logo text-center text-sm-left">
                    <a href="index"><img src="/img/logo.png" alt="Logo"/></a>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div class="site-navigation">
                    <ul class="main-menu nav">
                        <li><a href="/">Home 1</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/shop">shop</a></li>
                        <li><a href="/single-product">single-product</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8 col-lg-3">
                <div class="site-action d-flex justify-content-center justify-content-sm-end align-items-center">
                    <ul class="login-reg-nav nav">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/login">Register</a></li>
                    </ul>

                    <div class="responsive-menu d-lg-none">
                        <button class="btn-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--== End Header Area ==-->
</body>
</html>