<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/commons/head :: head}"></head>
<body class="cnt-home">

<div th:replace="~{/commons/header :: header}"></div>

<!--== Start Page Header Area ==-->
<div class="page-header-wrap bg-img" data-bg="/img/bg/page-header-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Login page</h1>

                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="current"><a href="#">404</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->


<section class="body-content outer-top-bd mt-5">
    <div class="container">
        <div class="sign-in-page inner-bottom-sm">
            <div class="row">
                <div class="col-md-6 col-sm-6 sign-in">
                    <h1>PAGE NOT FOUND</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/commons/footer :: footer}"></footer>

<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>