<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About :: Lukas - Car Parts Store eCommerce HTML Template</title>

   <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>

    <header th:replace="~{/commons/header :: header}"></header>

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="/img/bg/page-header-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>About</h1>

                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="current"><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sm-top">
        <div class="about-page-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-1 order-md-0">
                        <div class="about-content">
                            <h2 class="h3 mb-sm-20">About Lukas</h2>
                            <p>This is a list of automotive parts mostly for vehicles using internal combustion engines
                                which are manufactured components of automobiles.</p>
                            <p>This category is for components and parts that make up automobile (car) bodies including
                                accessories.</p>
                            <p>On motorbikes their main function is to shield the rider from wind, though not as completely
                                as in a car, whereas on sports and racing motorcycles the main function is reducing drag
                                when the rider</p>
                        </div>
                    </div>

                    <div class="col-lg-6 order-0">
                        <div class="about-thumb mb-sm-30">
                            <img src="/img/banner/a-1.jpg" alt="About" />
                        </div>
                    </div>
                </div>

                <div class="row align-items-center sm-top">
                    <div class="col-lg-6">
                        <div class="about-thumb video-play mb-sm-30">
                            <img src="/img/banner/a-2.jpg" alt="About" />
                            <a href="https://www.youtube.com/watch?=17&v=S-UcVwzrAqo" class="btn-video-popup"><i class="ion-play"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content">
                            <h2 class="h3">Our mission</h2>
                            <p>This is a list of automotive parts mostly for vehicles using internal combustion engines
                                which are manufactured components of automobiles.</p>
                            <p>This category is for components and parts that make up automobile (car) bodies including
                                accessories.</p>
                            <p>On motorbikes their main function is to shield the rider from wind, though not as completely
                                as in a car, whereas on sports and racing motorcycles the main function is reducing drag
                                when the rider</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

    <!--== Start Call to action Wrapper ==-->
    <div class="call-to-action-area sm-top">
        <div class="call-to-action-content-area home-2 bg-img" data-bg="/img/bg/bg-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="call-to-action-txt">
                            <h2>ALL KINDS OF PARTS THAT YOU <br> NEED CAN FIND HERE</h2>
                                <a href="shop" class="btn btn-brand">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="call-to-action-image-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="/img/bg/bg-car.png" alt="Car" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Call to action Wrapper ==-->

    <!--== Start Need Help area ==-->
    <div class="need-help-area bg-img sm-top" data-bg="/img/bg/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-7 text-center text-sm-left">
                    <div class="need-help-content mb-sm-20">
                        <h3>Need Help ?</h3>
                        <p>Call our support 24/7 at 01234-567-890</p>
                    </div>
                </div>

                <div class="col-sm-5 text-center text-sm-right">
                    <a href="contact" class="btn btn-black">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--== End Need Help area ==-->

   <footer th:replace="~{/commons/footer :: footer}"></footer>

    <!-- Scroll Top Button -->
    <button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>



    <div th:replace="~{/commons/script :: script}"></div>

</body>

</html>