<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Lukas - Car Parts Store eCommerce HTML Template</title>

    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>

<header th:replace="~{/commons/header :: header}"></header>

<!--== Start Slider Area Wrapper ==-->
<div class="slider-area-wrapper">
    <div class="slider-content-active">
        <div class="slider-slide-item bg-img" data-bg="/img/slider/slider-1.jpg">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <div class="slide-content-inner">
                                <h3>NEW TECHNOLOGY & BUILD</h3>
                                <h2>WHEELS &amp; TIRES COLLECTIONS</h2>
                                <a class="btn btn-white" href="shop">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Slider Area Wrapper ==-->

<!--== Start Banner Area Wrapper ==-->
<div class="banner-area-wrapper banner-mt">
    <div class="container container-wide">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="/img/banner/banner-1.jpg" alt="Banner" /></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="/img/banner/banner-2.jpg" alt="Banner" /></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="/img/banner/banner-3.jpg" alt="Banner" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area Wrapper ==-->

<!--== Start Call to Action Area ==-->
<div class="call-to-action-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item mt-0">
                    <div class="call-to-action-item__icon">
                        <img src="/img/icons/icon-1.png" alt="fast delivery">
                    </div>
                    <div class="call-to-action-item__info">
                        <h3>Free Home Delivery</h3>
                        <p>Provide free home delivery
                            for all product over $100</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item">
                    <div class="call-to-action-item__icon">
                        <img src="/img/icons/icon-2.png" alt="quality">
                    </div>
                    <div class="call-to-action-item__info">
                        <h3>Quality Products</h3>
                        <p>We ensure our product
                            quality all times</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item">
                    <div class="call-to-action-item__icon">
                        <img src="/img/icons/icon-3.png" alt="return">
                    </div>
                    <div class="call-to-action-item__info">
                        <h3>Online Support</h3>
                        <p>To satisfy our customer we try
                            to give support online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to Action Area ==-->

<!--== Start Call to action Wrapper ==-->
<div class="call-to-action-area">
    <div class="call-to-action-content-area bg-img" data-bg="/img/bg/bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="call-to-action-txt">
                        <h2>ALL KINDS OF PARTS THAT YOU <br> NEED CAN FIND HERE</h2>
                        <a href="shop" class="btn btn-brand">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action-image-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/img/bg/bg-car.png" alt="Car" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to action Wrapper ==-->

<!--== Start Promotion Code Banner Area ==-->
<div class="promotion-code-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-md-6">
                <div class="promotion-code-banner-item mb-sm-30">
                    <img src="/img/banner/banner-5.jpg" alt="Banner" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="promotion-code-banner-item">
                    <img src="/img/banner/banner-6.jpg" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Promotion Code Banner Area ==-->

<!--== Start Products Area Wrapper ==-->
<div class="products-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <div class="section-title">
                    <h2 class="h3">Our last products</h2>
                    <p>All best seller product are now available for you and your can buy
                        this product from here any time any where so sop now</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-wrapper columns-5">
                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product">
                                    <img class="thumb-primary" src="/img/product/product-6.png" alt="Product" />
                                    <img class="thumb-secondary" src="/img/product/product-7.png" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <h4 class="title"><a href="single-product">Auto Clutch & Brake</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">25%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Products Area Wrapper ==-->

<footer th:replace="~{/commons/footer :: footer}"></footer>

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>



<div th:replace="~{/commons/script :: script}"></div>

</body>

</html>