<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Product Details</title>

   <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>

    <header th:replace="~{/commons/header :: header}"></header>

    <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="/img/bg/page-header-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Product Details</h1>

                            <ul class="breadcrumb">
                                <li><a href="/index">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li class="current"><a href="#">Product Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="product-details-page-content">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- Start Product Thumbnail Area -->
                            <div class="col-md-5">
                                <div class="product-thumb-area">
                                    <div class="product-details-thumbnail">
                                        <div class="product-thumbnail-slider" id="thumb-gallery">
                                            <figure class="pro-thumb-item">
                                                <img th:src="${entity.image}" alt="Product Details" />
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Thumbnail Area -->

                            <!-- Start Product Info Area -->
                            <div class="col-md-7">
                                <div class="product-details-info-content-wrap">
                                    <div class="prod-details-info-content">
                                        <h2 th:text="${entity.name}">Hanging 4K Camera</h2>
                                        <h5 class="price"><strong>Price:</strong> <span class="price-amount" th:text="${entity.price}">$325.00</span>
                                        </h5>


                                        <form class="product-action"
                                              th:if="${#request.userPrincipal != null}"
                                              th:action="'/order/addProduct/'+${entity.id}"
                                              method="get">
                                            <div class="action-top d-sm-flex">
                                                <div class="pro-qty mr-3 mb-4 mb-sm-0">
                                                    <label for="quantity" class="sr-only">Quantity</label>
                                                    <input type="text" id="quantity" title="Quantity" value="1" required min="1"  name="count" />
                                                </div>
                                                <button class="btn btn-bordered">Add to Cart</button>
                                            </div>
                                        </form>

                                        <a class="btn btn-primary"
                                           th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }"
                                           th:href="@{/product/edit/{id}(id=${entity.id})}">Edit Product</a>
                                        <a class="btn btn-danger"
                                           th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }"
                                           th:href="@{/product/{id}/delete(id=${entity.id})}">Delete Product</a>

                                        <p th:text="${entity.shortDescription}">Pursue pleasure rationally encounter consequences that are extremely painful. Nor
                                            again is there anyone who loves or pursues or desires to obtain pain of itself,
                                            because it is pain, but because occasionally circles</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Info Area -->
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="product-description-review">
                                    <!-- Product Description Tab Menu -->
                                    <ul class="nav nav-tabs desc-review-tab-menu" id="desc-review-tab" role="tablist">
                                        <li>
                                            <a class="active" id="desc-tab" data-toggle="tab" href="#descriptionContent" role="tab">Description</a>
                                        </li>
                                        <li>
                                            <a id="profile-tab" data-toggle="tab" href="#reviewContent">Review</a>
                                        </li>
                                    </ul>

                                    <!-- Product Description Tab Content -->
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="descriptionContent">
                                            <div class="description-content">
                                                <p th:utext="${entity.description}">Created from either wood or recycled materials, it can be moulded
                                                    into just about any shape and hardens to provide a hard shell. Additives
                                                    can
                                                    make it water resistant and it can be produced in a rainbow of colours.
                                                    Other materials being looked at include paper clay, paper glue, paper
                                                    cotton
                                                    and even washable paper.</p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="reviewContent">
                                            <div class="product-rating-wrap">
                                                <div class="display-ratings">

                                                    <div class="rating-item" th:each="comments_item : ${entity.comments}">
                                                        <div class="rating-author-pic">
                                                            <img th:src="${comments_item.owner.image}" alt="author" />
                                                        </div>

                                                        <div class="rating-author-txt">

                                                            <div class="rating-meta">
                                                                <h3 th:text="${comments_item.owner.username}">Cristopher Lee</h3>
                                                                <span class="time" th:text="${comments_item.creationDate}">- 07, Jun</span>
                                                            </div>

                                                            <p th:text="${comments_item.message}">Wonderful collection of WooThemes classics! A must buy for
                                                                all
                                                                Woo fans.</p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="rating-form-wrapper"  th:if="${#request.userPrincipal != null}">
                                                    <h3>Add your Reviews</h3>
                                                    <form role="form" class="cnt-form" method="post" action="/comment">
                                                        <div class="rating-form row">
                                                            <div class="col-12">
                                                                <div class="form-input-item mt-30 mb-40">
                                                                    <label for="your-review" class="sr-only">review</label>
                                                                    <textarea name="message" rows="4" id="your-review" placeholder="Write a review"></textarea>
                                                                    <input type="text" th:value="${entity.id}" name="productId" id="productId" hidden>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-22">
                                                                <button class="btn btn-brand">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

   <footer th:replace="~{/commons/footer :: footer}"></footer>

    <!-- Scroll Top Button -->
    <button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>



    <div th:replace="~{/commons/script :: script}"></div>

</body>

</html>