<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Shop</title>

    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>

<header th:replace="~{/commons/header :: header}"></header>
<!--== Start Page Header Area ==-->
<div class="page-header-wrap bg-img" data-bg="/img/bg/page-header-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Shop</h1>

                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="current"><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->

<!--== Start Page Content Wrapper ==-->
<div class="page-content-wrapper sp-y">
    <div class="container container-wide">
        <div class="row">
            <div class="col-lg-3 order-1 order-lg-0">
                <div class="sidebar-area">


                    <div class="sidebar-item">
                        <h4 class="sidebar-title">Product categories</h4>
                        <div class="sidebar-body">
                            <ul class="sidebar-list">
                                <li class="menu-item" th:each="category:${categories}">
                                    <a th:href="'/product/filter/'+${category}" th:text="${category.name}"
                                       class="dropdown-toggle"> MotherBoards </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-9 order-0 order-lg-1">
                <div class="row" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }">
                    <div class="col">
                        <a class="btn btn-primary" href="/product/edit">Add Product</a>
                    </div>
                </div>

                <!--            Search-->
                <div class="col-lg-9 order-0 order-lg-1 mt-5 mb-5">
                    <div class="row">
                        <div class="col">
                            <form action="/product/search" method="get">
                                <div class="control-group">
                                    <input class="search-field" placeholder="Search here..." name="searchPhrase"
                                           style="width: 60%"/>
                                    <button type="submit" class=" btn btn-primary search-button">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="product-wrapper product-layout layout-grid mt-5 ">
                        <div class="row mtn-30">
                            <!-- Start Product Item -->
                            <div class="col-sm-6 col-lg-4" th:each="entity:${list}">
                                <div class="product-item">
                                    <div class="product-item__thumb">
                                        <a th:href="'/product/'+${entity.id}">
                                            <img class="thumb-primary" th:src="${entity.image}" alt="Product"/>
                                            <img class="thumb-secondary" th:src="${entity.image}" alt="Product"/>
                                        </a>
                                    </div>

                                    <div class="product-item__content">
                                        <h4 class="title"><a th:href="'/product/'+${entity.id}"
                                                             th:text="${entity.name}">Auto Clutch & Brake</a></h4>
                                        <span class="price" th:text="'Price: $'+${entity.price}"><strong>Price:</strong> $165.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Item -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->


    <footer th:replace="~{/commons/footer :: footer}"></footer>

    <!-- Scroll Top Button -->



    <div th:replace="~{/commons/script :: script}"></div>
</body>

</html>